{% extends 'base.html' %}
{% block content %}


<div class="container my-3">
  <h2>Add a todo</h2>
  
  <form method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Todo Title</label>
      <input type="text" class="form-control" id="title" name="title" value="{{title}}">
      <div class="mb-3">
        <label for="desc" class="form-label">Todo description</label>
        <input type="text" class="form-control" id="desc" name="desc" value="{{desc}}">
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  
  {% if todos|length %}
<div class="container my-3">
  <h2>Your Todos</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Time</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      {% for todo in todos %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{todo.title}}</td>
        <td>{{todo.desc}}</td>
        <td>{{todo.date_created}}</td>

        <td><a href="/update/{{todo.id}}/" class="btn btn-warning btn-sm">Update</a></td>
        <td><a href="/delete/{{todo.id}}/" class="btn btn-danger btn-sm">Delete</a></td>

      </tr>

      {% endfor %}

    </tbody>
  </table>
</div>
{% else %}
<div class="alert alert-primary">No todo Available</div>
{% endif %}
{% endblock content %}